body{
margin:0;
font-family:Roboto;
}

header {
    background: #000;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

a{
    color: #2fff;
}

span.git {
    font-size: 25px;
    color: #fff;
    font-weight: bold;

}

ul {
    list-style-type: none;
    padding: 0px;
	line-height: 1.7;
}

strong {
    font-size: 20px;
}

.button-img {
    vertical-align: sub;
    width: 20px;
    margin-left: 5px;
}

.button-text {
    padding-right: 10px;
    border-right: 1px solid #fff;
    vertical-align: top;
}

.btn {
    color: #fff;
    background-color:#1f883d ;
    border-color: #1f883d;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
}




.container {
    width: 100%;
    max-width: 1500px; /* Максимальная ширина контейнера */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px; /* Отступы слева и справа */
    padding-right: 15px;
    box-sizing: border-box; /* Включаем padding в ширину */
}

.row {
    display: flex;
	justify-content: space-between;
    flex-wrap: wrap; /* Разрешаем перенос на новую строку */
    margin-left: -15px; /* Компенсируем отступы колонок */
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px; /* Отступы слева и справа для колонок */
    padding-right: 15px;
    box-sizing: border-box; /* Включаем padding в ширину */
    width: 100%; /* По умолчанию, каждая колонка на всю ширину */
}

/* Настройки для экранов среднего размера и больше (например, планшеты) */
@media (min-width: 768px) {
    .col-1 { width: calc(100% / 16); }
    .col-2 { width: calc(100% / 16 * 2); }
    .col-3 { width: calc(100% / 16 * 3); }
    .col-4 { width: calc(100% / 16 * 4); }
    .col-5 { width: calc(100% / 16 * 5); }
    .col-6 { width: calc(100% / 16 * 6); }
    .col-7 { width: calc(100% / 16 * 7); }
    .col-8 { width: calc(100% / 16 * 8); }
    .col-9 { width: calc(100% / 16 * 9); }
    .col-10 { width: calc(100% / 16 * 10); }
    .col-11 { width: calc(100% / 16 * 11); }
    .col-12 { width: calc(100% / 16 * 12); }
    .col-13 { width: calc(100% / 16 * 13); }
    .col-14 { width: calc(100% / 16 * 14); }
    .col-15 { width: calc(100% / 16 * 15); }
    .col-16 { width: 100%; }
}

/* Настройки для больших экранов (например, настольные компьютеры) */
@media (min-width: 992px) {
    .col-lg-1 { width: calc(100% / 16); }
    .col-lg-2 { width: calc(100% / 16 * 2); }
    .col-lg-3 { width: calc(100% / 16 * 3); }
    .col-lg-4 { width: calc(100% / 16 * 4); }
    .col-lg-5 { width: calc(100% / 16 * 5); }
    .col-lg-6 { width: calc(100% / 16 * 6); }
    .col-lg-7 { width: calc(100% / 16 * 7); }
    .col-lg-8 { width: calc(100% / 16 * 8); }
    .col-lg-9 { width: calc(100% / 16 * 9); }
    .col-lg-10 { width: calc(100% / 16 * 10); }
    .col-lg-11 { width: calc(100% / 16 * 11); }
    .col-lg-12 { width: calc(100% / 16 * 12); }
    .col-lg-13 { width: calc(100% / 16 * 13); }
    .col-lg-14 { width: calc(100% / 16 * 14); }
    .col-lg-15 { width: calc(100% / 16 * 15); }
    .col-lg-16 { width: 100%; }
}


